{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block contenido %}
    <div class="password-reset-confirmation-container">
        <h1>{% trans "Password Reset" %}</h1>
        <img src="https://img.icons8.com/?size=100&id=D9RtvkuOe31p&format=png&color=000000" alt="">

        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        
        <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
    </div>

    
<style>

.password-reset-confirmation-container {
    background: rgba(228, 115, 10, 0.9);
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
}

.password-reset-confirmation-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.password-reset-confirmation-container p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.password-reset-confirmation-container a {
    color: white;
    text-decoration: underline;
}

.password-reset-confirmation-container a:hover {
    text-decoration: none;
}

</style>
{% endblock %}
