{% load static %}
<nav>
    <div class="menu-container">
        <div class="menu-icon" id="menu-icon" onclick="toggleMenu()">☰</div>
        <a href="{% url 'INDEX' %}" class="logo-link"><img src="{% static 'img/logo.png' %}" alt="Logo" class="logo"></a>
    </div>
    <ul class="menu" id="menu">
        {% if user.is_authenticated %}
            {%  if user.groups.first.name == "vendedor" %}   
                <li><a href="{% url 'ver_productos' %}" class="enlace">Ver Productos</a></li>
                <li><a href="{% url 'GESTIONAR_PEDIDOS' %}" class="enlace">Gestionar Pedidos</a></li>
                <li><a href="{% url 'PERFIL_USUARIO' %}" class="enlace btn-ingresar">Mi Perfil</a></li>
                <li><a href="{% url 'CERRAR_SESION' %}" class="enlace btn-cerrar">Cerrar Sesión</a></li>
            {% else %}
                <li><a href="{% url 'INDEX' %}" class="enlace">Inicio</a></li>
                <li><a href="{% url 'PRODUCTOS' %}" class="enlace">Productos</a></li>
                <li><a href="#" class="enlace">Categorías</a></li>
                <li><a href="#" class="enlace">Sobre Nosotros</a></li>
                <li><a href="{% url 'CARRITO' %}" class="enlace">Carrito</a></li>
                <li><a href="{% url 'PERFIL_USUARIO' %}" class="enlace btn-ingresar">Mi Perfil</a></li>
                <li><a href="{% url 'CERRAR_SESION' %}" class="enlace btn-cerrar">Cerrar Sesión</a></li>
            {% endif %}
        {% else %}
            <li><a href="{% url 'INDEX' %}" class="enlace">Inicio</a></li>
            <li><a href="{% url 'PRODUCTOS' %}" class="enlace">Productos</a></li>
            <li><a href="#" class="enlace">Categorías</a></li>
            <li><a href="#" class="enlace">Sobre Nosotros</a></li>
            <li><a href="{% url 'LOGIN' %}" class="enlace btn-ingresar">Ingresar</a></li>
        {% endif %}
    </ul>
</nav>


<style>
    nav {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .menu-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .menu-icon {
        font-size: 24px;
        cursor: pointer;
        margin-left: 20px;
    }

    .logo-link {
        margin-right: 20px;
    }

    .logo {
        width: 100px;
        height: 100px;
    }

    ul.menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to top, rgba(100, 96, 96, 0.8), transparent);
        border-radius: 25px;
        padding: 1rem;
        position: relative;
        list-style: none;
        margin: 0;
    }

    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .enlace {
        margin: 5px;
        padding: 15px 30px;
        border-radius: 25px;
        text-decoration: none;
        font-size: 18px;
        color: white;
        text-shadow: 5px 5px 10px black;
    }

    .btn-ingresar {
        margin: 5px;
        padding: 15px 30px;
        border-radius: 25px;
        text-decoration: none;
        font-size: 18px;
        color: white;
        background-color: rgb(228, 115, 10);
        text-shadow: 5px 5px 10px black;
    }

    .btn-cerrar {
        margin: 5px;
        padding: 15px 30px;
        border-radius: 25px;
        text-decoration: none;
        font-size: 18px;
        color: white;
        background-color: rgb(235, 45, 39);
        text-shadow: 5px 5px 10px black;
    }

    .enlace:hover {
        background: white;
        color: black;
        text-decoration: none;
    }

    .btn-ingresar:hover {
        background: rgb(207, 128, 62);
        color: black;
        text-decoration: none;
    }

    .btn-cerrar:hover {
        background: rgb(221, 112, 112);
        color: rgb(34, 33, 33);
        text-decoration: none;
    }


    @media only screen and (max-width: 1110px) {
        .menu {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 80px;
            left: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 10px;
            padding: 10px;
        }
        .hidden {
        display: none !important;
    }

        .menu.visible {
            display: flex;
        }

        .menu li {
            width: 100%;
            text-align: center;
            margin: 10px 0;
        }

        .enlace, .btn-ingresar, .btn-cerrar {
            display: block;
            margin: 10px 0;
            padding: 10px;
            width: 100%;
        }

        .logo {
            width: 80px;
            height: 80px;
        }

        .menu-container {
            justify-content: space-between;
            width: 100%;
        }

        .menu-icon {
            margin-left: 20px;
        }

        .logo-link {
            margin-right: 20px;
        }
    }
</style>


<script>
    function toggleMenu() {
        var menu = document.getElementById('menu');
        menu.classList.toggle('hidden');
    }

    // Agregar evento para ocultar los enlaces cuando se hace clic en el ícono del menú
    var menuIcon = document.getElementById('menu-icon');
    menuIcon.addEventListener('click', function() {
        var menuItems = document.querySelectorAll('.enlace, .btn-ingresar, .btn-cerrar');
        menuItems.forEach(function(item) {
            item.classList.toggle('visible');
        });
    });

    var menuItems = document.querySelectorAll('.enlace, .btn-ingresar, .btn-cerrar');
    menuItems.forEach(function(item) {
        item.addEventListener('click', function() {
            var menu = document.getElementById('menu');
            menu.classList.remove('hidden');
        });
    });
</script>


