{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/productos.css' %}">
{% endblock css %}

{% block contenido %}
<section>
    
    <div class="container-prod">
        <div class="mt-5 my-4">
            <div> 
                <h1 class="section-title-prod ml-3">Nuestros paquetes</h1>
                <p class="parrf-prod">Todo lo que necesitas con nosotros</p>
            </div>
        </div>

        <div class=" product-section before-footer-section">
            <div class="container">
                <div class="row">
                    {% for aux in listado %}
                        <div class="col-12 col-md-4 mb-5">
                            <div class="product-item">
                                {% if aux.imagen %}
                                    <img class="img-fluid product-thumbnail" src="{{ aux.imagen }}" style="max-width: 300px; max-height: 300px;">
                                {% else %}
                                    <img src="{% static 'assets/img/productos/herramientas/1.jpg' %}" class="img-fluid product-thumbnail">
                                {% endif %}
                                <h3 class="product-title">{{ aux.nombre }}</h3>
                                <h3 class="product-title">{{ aux.descripcion }}</h3>
                                <p>Stock: {{ aux.stock }}</p>
                                <strong class="product-price">${{ aux.precio }}</strong>
                                <form id="agregar-al-carrito-form-{{ aux.id }}" method="POST" action="{% url 'agregar_al_carrito' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="producto_id" value="{{ aux.id }}">
                                    <button type="submit" class="btn btn-primary" {% if aux.stock == 0 %} disabled {% endif %}>
                                        {% if aux.stock == 0 %}
                                            Sin stock
                                        {% else %}
                                            Agregar al carrito
                                        {% endif %}
                                    </button>
                                </form>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:3 and not forloop.last %}
                            </div></div><div class="container"><div class="row">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

</section>

<script>
    function agregarAlCarrito(productoId) {
        document.getElementById('agregar-al-carrito-form-' + productoId).submit();
    }
</script>

{% endblock %}
