{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static '../static/assets/css/productos.css' %}">
{% endblock css %}

{% block contenido %}

<!-- 

------------- PRODUCTOOOOOO

 -->

<section>
    
    <div class="container-prod">
        <div class="mt-5 my-4">
            <h1 class="section-title-prod">Nuestros paquetes </h1>
            <p class="parrf-prod">Todo lo que necesitas con nosotros</p>
        </div>

    </div>

</section>



{% endblock %}