{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static '../static/assets/css/productos.css' %}">
<link rel="stylesheet" href="{% static '../static/assets/css/productos.scss' %}">

{% endblock css %}

{% block contenido %}
<section>
    
    <div class="container-prod">
        <div class="mt-5 my-4">
            <div> 
                <h1 class="section-title-prod ml-3">Nuestros paquetes</h1>
                <p class="parrf-prod">Todo lo que necesitas con nosotros</p>
            </div>
        </div>

        <div class=" product-section before-footer-section">
            <div class="container">
                <div class="row">
                    {% for aux in listado %}
                        <div class="col-12 col-md-4 mb-5">
                            <div class="product-item" >
                                {% if aux.imagen %}
                                    <img class="img-fluid product-thumbnail" src="{{ aux.imagen }}" style="max-width: 300px; max-height: 300px;">
                                {% else %}
                                    <img src="{% static 'assets/img/productos/herramientas/1.jpg' %}" class="img-fluid product-thumbnail">
                                {% endif %}
                                <h3 class="product-title">{{ aux.nombre }}</h3>
                                <h3 class="product-title">{{ aux.descripcion }}</h3>
                                {% if aux.stock > 1 %}
                                    <p>Stock: {{ aux.stock }}</p>
                                    <strong class="product-price">${{ aux.precio }}</strong>
                                {% else %}
                                    <p>Producto agotado</p>
                                {% endif %}
                                
                                {% comment %} <div class="product-buttons">
                                    <form action="{% url 'añadir_carro' aux.id %}" method="post">
                                       {% csrf_token %}
                                       {% if aux.stock > 1 %}
                                           <button type="submit" class="btn btn-primary">Añadir al carrito</button>
                                       {% else %}
                                           <button type="button" class="btn btn-secondary" onclick="showSoldOutAlert()">Sin producto</button>
                                       {% endif %}
                                   </form>  
                                {% endcomment %}                            
                                
                                </div>
                        </div>
                        {% if forloop.counter|divisibleby:3 and not forloop.last %}
                            </div></div><div class="container"><div class="row">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

</section>

{% endblock %}
