{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
    * {
        color: white;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 2rem;
    }
    th {
        border: 1px solid black;
        padding: 0.5rem;
        text-align: center;
        color: white;
    }
    td {
        border: 1px solid black;
        padding: 0.5rem;
        text-align: center;
        color: black;
    }
    .row-top {
        background-color: black;
        color: white;
    }
    .row-content {
        background-color: white;
    }
    .row-content:nth-child(even) {
        background-color: lightgray;
    }
    .btn {
        color: white;
        padding: 0.3rem 0.5rem;
        text-decoration: none;
        border: none;
    }
    
    .row-bottom {
        background-color: black;
    }
    .row-bottom td {
        color: white;
    }
    .btn.disabled {
        background-color: gray;
        cursor: not-allowed;
    }
</style>
{% endblock css %}

{% block contenido %}
<div class="container" style="height: 35rem;">
    <h1 class="mt-5">Carrito de Compras</h1>
    
    {% if messages %}
    <div>
        {% for message in messages %}
        <div class="alert alert-info">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
    {% if items_carrito %}
    <table>
        <tr class="row-top">
            <th>NOMBRE</th>
            <th>DESCRIPCION</th>
            <th class="text-center">CANTIDAD</th>
            <th class="text-center">PRECIO UNITARIO</th>
            <th class="text-center">SUB TOTAL</th>
            <th class="text-center">FUNCIONES</th>
        </tr>
        {% for item in items_carrito %}
        <tr class="row-content">
            <td>{{ item.producto.nombre }}</td>
            <td>{{ item.producto.descripcion }}</td>
            <td class="text-center">
                <a href="{% url 'DISMINUIR_CANTIDAD' item.pk %}" class="px-2">
                    <img src="{% static 'img/remove.png' %}" style="width: 2rem; height: 2rem;">
                </a>
                {{ item.cantidad }}
                <a href="{% url 'AUMENTAR_CANTIDAD' item.pk %}" class="px-2">
                    <img src="{% static 'img/add.png' %}" style="width: 2rem; height: 2rem;">
                </a>
            </td>
            <td class="text-center">$ {{ item.producto.precio }}</td>
            <td class="text-center">{{ item.precio_total }}</td>
            <td class="text-center">
                <a href="{% url 'ELIMINAR_DEL_CARRITO' item.pk %}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        <tr class="row-bottom">
            <td colspan="4" class="text-end"><h3>TOTAL :</h3></td>
            <td class="text-end" colspan="2"><h3>$ {{ total_formato }} CLP</h3></td>
        </tr>
    </table>
    <a href="{% url 'VACIAR_CARRITO' %}" class="btn btn-danger mt-3">VACIAR CARRITO</a>
    {% if not pedido_aprobado %}
    <a href="{% url 'REALIZAR_PEDIDO' %}" class="btn btn-success mt-3">Realizar Pedido</a>
    {% if pedido %}
    <a href="{% url 'ANULAR_PEDIDO' pedido.id %}" class="btn btn-warning mt-3">Anular Pedido</a>
    {% endif %}
    {% else %}
    <a href="{% url 'generar_boleta_webpay' %}" class="btn btn-warning mt-3" style="display: none;">Proceder al Pago</a>
    {% endif %}
    {% else %}
    <div style="background-color: rgba(245, 245, 245, 0.849); border: solid 2px black; padding: 2rem 2rem;
                border-radius: 3rem;">
        <h3 style="color: red;">El carrito está vacío (Añade productos :D)</h3>
    </div>
    {% endif %}
</div>
{% endblock contenido %}
