{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock css %}

{% block contenido %}
<div class="register-container">
    <div class="register-box">
        <div class="form-section">
            <h2>Registro Usuario</h2>
            <form action="{% url 'REGISTRO' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="username" id="username" placeholder="Nombre Usuario">
                </div>
                <div class="form-group">
                    <input type="email" name="email" id="email" placeholder="E-mail">
                </div>
                <div class="form-group">
                    <input type="number" name="number" id="number" placeholder="Número">
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" placeholder="Contraseña">
                </div>
                <div class="form-group">
                    <input type="password" name="repeat-password" id="repeat-password" placeholder="Confirmar contraseña">
                </div>
                <div class="form-group terms">
                    <input type="checkbox" id="terms" name="terms">
                    <label for="terms">Acepto términos y condiciones</label>
                </div>
                <div class="form-group buttons">
                    <button type="submit" class="btn primary">Crear Cuenta</button>
                </div>
            </form>
        </div>
        <div class="logo-section">
            <img src="{% static 'img/OsosMaduros.png' %}" alt="Logo" style="width: 300px;">
            <button type="button" class="btn google">Crear con Google</button>
        </div>
    </div>
</div>
{% endblock contenido %}
