{% extends 'base.html' %}
{% block contenido %}
{% block css %}


<link rel="stylesheet" href="../../static/css/style.css">
{% endblock css %}

<section class="container-sec">
    <div class="container">
        {% include 'snippets/carrito.html' %}

        <nav class="filters d-flex justify-content-center mb-4">
            <div class=" d-inline-block">
                <button href="{% url 'PRODUCTOS' %}" class="btn btn-primary mx-2" type="button" >
                    <a href="{% url 'PRODUCTOS' %}" style="color: #ccc; text-decoration: none;"> volver</a>
                </button>
            </div>
            <div class="dropdown d-inline-block">
                <button class="btn btn-primary dropdown-toggle mx-2" type="button" id="categoriaDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Categoría
                </button>
                <ul class="dropdown-menu" aria-labelledby="categoriaDropdown">
                    {% for categoria in categorias %}
                        <li><a class="dropdown-item" href="{% url 'categoriaprod' categoria.id %}">{{ categoria.categoria }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="dropdown d-inline-block">
                <button class="btn btn-primary dropdown-toggle mx-2" type="button" id="tipoDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Tipo
                </button>
                <ul class="dropdown-menu" aria-labelledby="tipoDropdown">
                    {% for tipo in tipos %}
                        <li><a class="dropdown-item" href="{% url 'tipoprod' tipo.id %}">{{ tipo.tipo }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="d-inline-block">
                <button class="btn btn-primary mx-2" type="button" id="precioBtn">
                    Precio M-m
                </button>
            </div>
        </nav>
        <section id="product-list" class="row">
            {% for producto in page_obj %}
            <div class="col-md-4 mb-4">
                <div class="card mx-4" style="width: 20rem;">
                    <img src="{{ producto.imagen.url }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">{{ producto.nombre }}</h5>
                        <p class="card-text" style="color: black; text-align: center;">${{ producto.precio }}</p>
                        <a href="{% url 'AGREGAR_AL_CARRITO' producto.id %}" class="btn btn btn-producto">Añadir al carrito</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
        <footer class="text-center my-4">
            <nav>
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                    </li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                    <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">&gt;</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </footer>
    </div>
</section>
<style>
    .orden{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5rem;
    }

    .card{
            border-radius: 25px 25px 25px 25px;
            box-shadow: 0.5rem 0.5rem 2rem black;
            transition: transform 0.6s ease;
    }
    .card:hover{
            box-shadow: 0.5rem 0.5rem 2rem black;
            transform: translate(0, -0.7rem)
    }

    .card-img-top{
            width: 100%;
            height: 200px;
            border-radius: 25px 25px 0 0;
    }
    .btn-producto{
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 250px;
            height: 50px;
            background-color: #e95600;
            font-size: 15px;
            letter-spacing: 4px;
            color: white;
            border-radius: 25px;
    }
    .btn-producto:hover{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 250px;
            height: 50px;
            background-color: black;
            font-size: 15px;
            letter-spacing: 4px;
            color: white;
            border-radius: 25px;
    }
    
</style>
<script>
    // Función para ordenar los precios de mayor a menor
    function ordenarPreciosMayorMenor() {
        var listaPrecios = document.querySelectorAll('.card-text');
        var listaProductos = Array.from(listaPrecios).map(function(precio) {
            return {
                precio: parseFloat(precio.textContent.replace('$', '')),
                elemento: precio.parentNode.parentNode.parentNode
            };
        });
        listaProductos.sort(function(a, b) {
            return b.precio - a.precio;
        });
        var productContainer = document.getElementById('product-list');
        productContainer.innerHTML = '';
        listaProductos.forEach(function(item) {
            productContainer.appendChild(item.elemento);
        });
    }

    // Función para ordenar los precios de menor a mayor
    function ordenarPreciosMenorMayor() {
        var listaPrecios = document.querySelectorAll('.card-text');
        var listaProductos = Array.from(listaPrecios).map(function(precio) {
            return {
                precio: parseFloat(precio.textContent.replace('$', '')),
                elemento: precio.parentNode.parentNode.parentNode
            };
        });
        listaProductos.sort(function(a, b) {
            return a.precio - b.precio;
        });
        var productContainer = document.getElementById('product-list');
        productContainer.innerHTML = '';
        listaProductos.forEach(function(item) {
            productContainer.appendChild(item.elemento);
        });
    }

    // Agregar los manejadores de eventos para el clic en el botón de precios
    var precioBtn = document.getElementById('precioBtn');
    var ordenado = false;
    precioBtn.addEventListener('click', function() {
        if (ordenado) {
            ordenarPreciosMenorMayor();
            ordenado = false;
        } else {
            ordenarPreciosMayorMenor();
            ordenado = true;
        }
    });
</script>

{% endblock contenido %}
